@if (!usersService.errorPublic().status) {
<ul>
  @for (user of usersService.usersPublic(); track user.id) {
  <li>{{ user.name }}</li>
  } @empty { non c'è nessun user }
</ul>
}
<div></div>
<!--  -->
@if (!usersService.usersHttpResource.error()) {
<ul>
  @for (username of usersService.usernameUsers(); track $index) {
  <li>{{ username }}</li>
  } @empty { non c'è nessun user 2}
</ul>
} @if (usersService.usersHttpResource.error()) {
{{ usersService.usersHttpResource.error()?.message }} ciao }

<!-- {{ usersService.usersHttpResource.hasValue() | json }} -->

<button (click)="usersService.login()">Login</button>

@if (usersService.logged()) {
<button (click)="usersService.loggaTasks()">Logga tasks</button>
} @if(usersService.errorPublic().status) {
<span>{{ usersService.errorPublic().message }}</span>
}
