<div class="backdrop">
  <div class="modal">
    <div class="modal-header">
      <h3>{{ user().name }}</h3>
      <button class="close-btn" (click)="close.emit()">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <line x1="18" y1="6" x2="6" y2="18"/>
          <line x1="6" y1="6" x2="18" y2="18"/>
        </svg>
      </button>
    </div>
    <div class="modal-body">
      <div class="section">
        <h4>{{ lang.t().user_modal_info }}</h4>
        <div class="field"><span class="label">{{ lang.t().user_modal_id }}</span><span>{{ user().id }}</span></div>
        <div class="field"><span class="label">{{ lang.t().user_modal_username }}</span><span>{{ user().username }}</span></div>
        <div class="field"><span class="label">{{ lang.t().user_modal_email }}</span><span>{{ user().email }}</span></div>
        <div class="field"><span class="label">{{ lang.t().user_modal_phone }}</span><span>{{ user().phone }}</span></div>
        <div class="field"><span class="label">{{ lang.t().user_modal_website }}</span><span>{{ user().website }}</span></div>
      </div>
      <div class="section">
        <h4>{{ lang.t().user_modal_address }}</h4>
        <div class="field"><span class="label">{{ lang.t().user_modal_street }}</span><span>{{ user().address.street }}, {{ user().address.suite }}</span></div>
        <div class="field"><span class="label">{{ lang.t().user_modal_city }}</span><span>{{ user().address.city }}</span></div>
        <div class="field"><span class="label">{{ lang.t().user_modal_zipcode }}</span><span>{{ user().address.zipcode }}</span></div>
        <div class="field"><span class="label">{{ lang.t().user_modal_geo }}</span><span>{{ user().address.geo.lat }}, {{ user().address.geo.lng }}</span></div>
      </div>
      <div class="section">
        <h4>{{ lang.t().user_modal_company }}</h4>
        <div class="field"><span class="label">{{ lang.t().user_modal_company_name }}</span><span>{{ user().company.name }}</span></div>
        <div class="field"><span class="label">{{ lang.t().user_modal_catch_phrase }}</span><span>{{ user().company.catchPhrase }}</span></div>
        <div class="field"><span class="label">{{ lang.t().user_modal_bs }}</span><span>{{ user().company.bs }}</span></div>
      </div>
    </div>
  </div>
</div>
